---

import Layout from '@/layouts/Layout.astro';

import Abaut from '@/components/sections/Abaut.astro';
import Education from '@/components/sections/Education.astro';
import Experience from '@/components/sections/Experience.astro';
import Hero from '@/components/sections/Hero.astro';
import KeyboardManager from '@/components/KeyboardManager.astro';
import Projects from '@/components/sections/Projects.astro';
import Skills from '@/components/sections/Skills.astro';	
---

<Layout tittle="Minimalist Portfolio">
	<main>
		<Hero />
		<Abaut />
		<Experience />
		<Education />
		<Projects />
		<Skills />
	</main>
	<KeyboardManager />

</Layout>
 
<style>
	main {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 2rem;
		padding: 2rem;
	}
</style>